In [35]:
import pandas as pd
import numpy as np

In [ ]:
url ='https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month='+i+'&year=2018&language=english&country=us-united-states'

### Weather scraping
##### As the weather information is in a table format on the website, I can use pd.html function to read the table format and extract into a list

In [9]:
df_list=[]
for i in range(1,13):
    url = 'https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month='+str(i)+'&year=2018&language=english&country=us-united-states'
    print(url)
    df1=pd.read_html(url)
    df_list.append(df1[6].iloc[:,:10])

https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=1&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=2&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=3&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=4&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=5&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=6&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=7&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=8&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=9&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=10&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=11&year=2018&language=english&country=us-united-states
https://au.freemeteo.com/weather/washington/history/monthly-history/?gid=4140963&station=19064&month=12&year=2018&language=english&country=us-united-states

In [11]:
#converting the list into a dataframe
df = pd.DataFrame(df_list)

In [101]:
df_large = pd.concat(df_list, ignore_index=True)  
df_large

,Date,Daily minimum temperature,Daily maximum temperature,Maximum steady wind,Maximum wind gust,Total daily precipitation,Snow depth,Pressure,Icon,Description
0,1/1/2018,-11°C,-3°C,26 Km/h,39 Km/h,0mm,NaN,1031.7mb,NaN,weather events not reported
1,1/2/2018,-11°C,-3°C,32 Km/h,42 Km/h,0mm,NaN,1034.5mb,NaN,weather events not reported
2,1/3/2018,-7°C,-6°C,9 Km/h,NaN,0mm,NaN,1030.1mb,NaN,weather events not reported
3,1/4/2018,-3°C,-1°C,22 Km/h,NaN,0mm,NaN,1017.0mb,NaN,Snowfall
4,1/5/2018,-11°C,-6°C,42 Km/h,66 Km/h,2.5mm,3m,1017.6mb,NaN,weather events not reported
5,1/6/2018,-12°C,-7°C,35 Km/h,52 Km/h,0mm,3m,1029.3mb,NaN,weather events not reported
6,1/7/2018,-13°C,-5°C,24 Km/h,35 Km/h,0mm,NaN,1036.6mb,NaN,weather events not reported
7,1/8/2018,-7°C,-7°C,22 Km/h,NaN,0mm,NaN,1030.7mb,NaN,weather events not reported
8,1/9/2018,2°C,4°C,16 Km/h,NaN,1.5mm,NaN,1019.6mb,NaN,Rain
9,1/10/2018,-1°C,4°C,11 Km/h,NaN,0mm,NaN,1028.9mb,NaN,weather events not reported
10,1/11/2018,4°C,6°C,9 Km/h,NaN,0mm,NaN,1029.6mb,NaN,weather events not reported
11,1/12/2018,13°C,15°C,16 Km/h,NaN,0mm,NaN,1020.1mb,NaN,weather events not reported
12,1/13/2018,12°C,18°C,58 Km/h,78 Km/h,9.3mm,NaN,NaN,NaN,FogRain
13,1/14/2018,-7°C,-3°C,37 Km/h,54 Km/h,2.7mm,NaN,1031.8mb,NaN,weather events not reported
14,1/15/2018,-7°C,-5°C,NaN,NaN,0mm,NaN,1038.1mb,NaN,weather events not reported
15,1/16/2018,-1°C,-1°C,9 Km/h,NaN,0mm,NaN,1032.8mb,NaN,weather events not reported
16,1/17/2018,2°C,4°C,21 Km/h,NaN,0mm,NaN,1027.8mb,NaN,Snowfall
17,1/18/2018,-7°C,-4°C,29 Km/h,34 Km/h,0mm,NaN,1026.4mb,NaN,weather events not reported
18,1/19/2018,-1°C,5°C,15 Km/h,NaN,0mm,NaN,1020.0mb,NaN,weather events not reported
19,1/20/2018,1°C,3°C,13 Km/h,NaN,0mm,NaN,1017.3mb,NaN,weather events not reported
20,1/21/2018,3°C,8°C,13 Km/h,NaN,0mm,NaN,1019.0mb,NaN,weather events not reported
21,1/22/2018,9°C,11°C,NaN,NaN,0mm,NaN,1020.9mb,NaN,weather events not reported
22,1/23/2018,11°C,13°C,NaN,NaN,0mm,NaN,1014.7mb,NaN,weather events not reported
23,1/24/2018,8°C,11°C,21 Km/h,29 Km/h,2.7mm,NaN,1011.1mb,NaN,weather events not reported
24,1/25/2018,2°C,4°C,29 Km/h,50 Km/h,0mm,NaN,1023.5mb,NaN,weather events not reported
25,1/26/2018,0°C,3°C,11 Km/h,NaN,0mm,NaN,1036.1mb,NaN,weather events not reported
26,1/27/2018,3°C,4°C,16 Km/h,NaN,0mm,NaN,1035.3mb,NaN,weather events not reported
27,1/28/2018,12°C,13°C,24 Km/h,NaN,0mm,NaN,1025.9mb,NaN,weather events not reported
28,1/29/2018,9°C,11°C,21 Km/h,NaN,4mm,NaN,NaN,NaN,Rain
29,1/30/2018,4°C,7°C,13 Km/h,NaN,0mm,NaN,1016.9mb,NaN,weather events not reported
...,...,...,...,...,...,...,...,...,...,...
333,11/30/2018,3°C,8°C,15 Km/h,NaN,0.2mm,NaN,1017.8mb,NaN,Rain
334,12/1/2018,2°C,8°C,11 Km/h,NaN,4.3mm,NaN,1021.1mb,NaN,Rain
335,12/2/2018,2°C,13°C,21 Km/h,NaN,3.8mm,NaN,1009.5mb,NaN,FogRain
336,12/3/2018,7°C,17°C,22 Km/h,34 Km/h,0mm,NaN,1005.7mb,NaN,weather events not reported
337,12/4/2018,4°C,10°C,26 Km/h,39 Km/h,0mm,NaN,1015.1mb,NaN,weather events not reported
338,12/5/2018,2°C,4°C,NaN,NaN,0mm,NaN,1019.2mb,NaN,weather events not reported
339,12/6/2018,1°C,2°C,11 Km/h,NaN,0mm,NaN,1023.7mb,NaN,weather events not reported
340,12/7/2018,3°C,6°C,22 Km/h,NaN,0mm,NaN,1024.4mb,NaN,weather events not reported
341,12/8/2018,0°C,3°C,13 Km/h,NaN,0mm,NaN,1032.3mb,NaN,weather events not reported
342,12/9/2018,-3°C,4°C,22 Km/h,NaN,0mm,NaN,1031.5mb,NaN,weather events not reported
343,12/10/2018,0°C,2°C,22 Km/h,NaN,0mm,NaN,1020.6mb,NaN,weather events not reported
344,12/11/2018,-2°C,8°C,NaN,NaN,0mm,NaN,1021.2mb,NaN,weather events not reported
345,12/12/2018,1°C,5°C,15 Km/h,NaN,0mm,NaN,1018.2mb,NaN,weather events not reported
346,12/13/2018,-1°C,12°C,16 Km/h,NaN,0mm,NaN,1024.4mb,NaN,weather events not reported
347,12/14/2018,3°C,12°C,13 Km/h,NaN,0mm,NaN,1028.9mb,NaN,Rain
348,12/15/2018,8°C,10°C,21 Km/h,NaN,7.3mm,NaN,1023.1mb,NaN,Rain
349,12/16/2018,10°C,12°C,26 Km/h,NaN,64.7mm,NaN,1012.6mb,NaN,Rain
350,12/17/2018,6°C,7°C,24 Km/h,NaN,15.2mm,NaN,1013.1mb,NaN,weather events not reported
351,12/18/2018,4°C,14°C,28 Km/h,45 Km/h,0mm,NaN,1018.2mb,NaN,weather events not reported
352,12/19/2018,0°C,10°C,15 Km/h,NaN,0mm,NaN,1021.8mb,NaN,weather events not reported
353,12/20/2018,3°C,6°C,11 Km/h,NaN,0mm,NaN,1019.4mb,NaN,weather events not reported
354,12/21/2018,7°C,17°C,35 Km/h,52 Km/h,9.1mm,NaN,1000.3mb,NaN,Rain
355,12/22/2018,7°C,14°C,34 Km/h,48 Km/h,4.3mm,NaN,991.4mb,NaN,Rain
356,12/23/2018,3°C,12°C,26 Km/h,34 Km/h,0mm,NaN,1020.5mb,NaN,weather events not reported
357,12/24/2018,3°C,9°C,32 Km/h,46 Km/h,0.5mm,NaN,1020.3mb,NaN,Rain
358,12/25/2018,1°C,9°C,22 Km/h,NaN,0mm,NaN,1026.8mb,NaN,weather events not reported
359,12/26/2018,0°C,3°C,11 Km/h,NaN,0mm,NaN,1030.3mb,NaN,weather events not reported
360,12/27/2018,2°C,5°C,9 Km/h,NaN,0mm,NaN,1034.5mb,NaN,weather events not reported
361,12/28/2018,7°C,9°C,13 Km/h,NaN,0.2mm,NaN,1029.1mb,NaN,Rain
362,12/29/2018,7°C,12°C,11 Km/h,NaN,25.9mm,NaN,NaN,NaN,weather events not reported

In [102]:
df_large.columns

Index(['Date', 'Daily minimum temperature', 'Daily maximum temperature',
       'Maximum steady wind', 'Maximum wind gust', 'Total daily precipitation',
       'Snow depth', 'Pressure', 'Icon', 'Description'],
      dtype='object')

In [103]:
#droping unwanted columns
df_large.drop(['Maximum steady wind', 'Maximum wind gust', 'Total daily precipitation',
       'Snow depth', 'Pressure', 'Icon'], axis=1, inplace=True)

In [104]:
#dataframe with 2018 weather data only
df_large.head(2)

,Date,Daily minimum temperature,Daily maximum temperature,Description
0,1/1/2018,-11°C,-3°C,weather events not reported
1,1/2/2018,-11°C,-3°C,weather events not reported

In [64]:
#converting date column into datetime format
df_large.Date = pd.to_datetime(df_large.Date)

In [105]:
#removing characters from columns
df_large['Daily minimum temperature']=df_large['Daily minimum temperature'].str.strip('°C	')

df_large['Daily maximum temperature']=df_large['Daily maximum temperature'].str.strip('°C	')

In [107]:
#converting into float columns
df_large['Daily minimum temperature']=df_large['Daily minimum temperature'].map(lambda x: float(x) if x is not np.nan else x)

df_large['Daily maximum temperature']=df_large['Daily maximum temperature'].map(lambda x: float(x) if x is not np.nan else x)

In [109]:
df_large['Description'] = df_large.Description.replace('weather events not reported','Clear')
#df_large['Description'] = weather_df.Description.replace('0.0','Clear')

In [110]:
#new column with average temperature
df_large['avg_temp'] = df_large.mean(axis=1)

In [71]:
pd.date_range(start = '1/1/2018', end = '12/31/2018' ).difference(df_large.index)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29',
               '2018-12-30', '2018-12-31'],
              dtype='datetime64[ns]', length=365, freq=None)

In [120]:
df_large.head()

       Date Description  avg_temp
0  1/1/2018       Clear      -7.0
1  1/2/2018       Clear      -7.0
2  1/3/2018       Clear      -6.5
3  1/4/2018    Snowfall      -2.0
4  1/5/2018       Clear      -8.5

In [112]:
#checking for null values
df_large.isnull().sum()

Date                         0
Daily minimum temperature    6
Daily maximum temperature    6
Description                  0
avg_temp                     6
dtype: int64

In [113]:
#dates with missing weather information
df_large[df_large['Daily minimum temperature'].isnull()]

,Date,Daily minimum temperature,Daily maximum temperature,Description,avg_temp
34,2/4/2018,NaN,NaN,Clear,NaN
40,2/10/2018,NaN,NaN,Clear,NaN
87,3/29/2018,NaN,NaN,Rain,NaN
134,5/15/2018,NaN,NaN,ThunderstormRain,NaN
208,7/28/2018,NaN,NaN,Clear,NaN
279,10/7/2018,NaN,NaN,Clear,NaN

In [114]:
#Imputing values for all the missing weather information
df_large.loc[34,'avg_temp']= 2.0
df_large.loc[40,'avg_temp']= 5.0
df_large.loc[87,'avg_temp']= 17.0
df_large.loc[134,'avg_temp']= 25.0
df_large.loc[208,'avg_temp']= 27.0
df_large.loc[279,'avg_temp']= 25.0

In [116]:
#Dataframe with weather information for years 2015, 2016,2017
df =pd.read_csv('cleaned_weather_df.csv')

In [117]:
#Delete unwanted columns from both dataframes
df.drop(['Daily minimum temperature','Daily maximum temperature'], axis=1, inplace=True)

df_large.drop(['Daily minimum temperature','Daily maximum temperature'], axis=1, inplace=True)

In [119]:
df_large.head()

       Date Description  avg_temp
0  1/1/2018       Clear      -7.0
1  1/2/2018       Clear      -7.0
2  1/3/2018       Clear      -6.5
3  1/4/2018    Snowfall      -2.0
4  1/5/2018       Clear      -8.5

In [121]:
df.head()
df['Description'] = df.Description.replace('weather events not reported','Clear')

In [122]:
#df = weather information from 2015 to 2017
#df_large = weather information from 2018 only
to_add = [df, df_large]

In [123]:
#Combining both dataframes ti have total 4 years of weather information
weather_df = pd.concat(to_add, axis=0, ignore_index=True)

In [126]:
weather_df

            Date Description  avg_temp
0     2015-01-01       Clear      -1.0
1     2015-01-02       Clear       2.5
2     2015-01-03       Clear       4.0
3     2015-01-04        Rain       5.0
4     2015-01-05        Rain      13.5
5     2015-01-06       Clear      -0.5
6     2015-01-07    Snowfall      -4.0
7     2015-01-08       Clear      -8.0
8     2015-01-09       Clear      -3.5
9     2015-01-10       Clear      -1.0
10    2015-01-11       Clear      -4.0
11    2015-01-12        Rain       3.5
12    2015-01-13        Rain       5.5
13    2015-01-14       Clear      -1.5
14    2015-01-15       Clear       0.5
15    2015-01-16       Clear       0.5
16    2015-01-17       Clear       3.0
17    2015-01-18       Clear       1.0
18    2015-01-19       Clear       5.5
19    2015-01-20       Clear       3.5
20    2015-01-21       Clear       5.0
21    2015-01-22       Clear       2.5
22    2015-01-23       Clear       5.5
23    2015-01-24    Snowfall       3.0
24    2015-01-25       Clear       5.0
25    2015-01-26       Clear       6.5
26    2015-01-27    Snowfall      -0.5
27    2015-01-28       Clear      -0.5
28    2015-01-29       Clear       0.0
29    2015-01-30       Clear       3.5
...          ...         ...       ...
1429  11/30/2018        Rain       5.5
1430   12/1/2018        Rain       5.0
1431   12/2/2018        Rain       7.5
1432   12/3/2018       Clear      12.0
1433   12/4/2018       Clear       7.0
1434   12/5/2018       Clear       3.0
1435   12/6/2018       Clear       1.5
1436   12/7/2018       Clear       4.5
1437   12/8/2018       Clear       1.5
1438   12/9/2018       Clear       0.5
1439  12/10/2018       Clear       1.0
1440  12/11/2018       Clear       3.0
1441  12/12/2018       Clear       3.0
1442  12/13/2018       Clear       5.5
1443  12/14/2018        Rain       7.5
1444  12/15/2018        Rain       9.0
1445  12/16/2018        Rain      11.0
1446  12/17/2018       Clear       6.5
1447  12/18/2018       Clear       9.0
1448  12/19/2018       Clear       5.0
1449  12/20/2018       Clear       4.5
1450  12/21/2018        Rain      12.0
1451  12/22/2018        Rain      10.5
1452  12/23/2018       Clear       7.5
1453  12/24/2018        Rain       6.0
1454  12/25/2018       Clear       5.0
1455  12/26/2018       Clear       1.5
1456  12/27/2018       Clear       3.5
1457  12/28/2018        Rain       8.0
1458  12/29/2018       Clear       9.5

[1459 rows x 3 columns]

In [125]:
#categorising weather description into 4 categories only
weather_df['Description'] = weather_df.Description.replace(to_replace=('ThunderstormRain','FogThunderstormRain','HailFogThunderstormRain','HailThunderstormRain'),value=('Thunderstorm'))

weather_df.Description = weather_df.Description.replace(to_replace=('SnowfallRain'), value=('Snowfall'))

weather_df.Description = weather_df.Description.replace(to_replace=('FogSnowfallRain'), value=('Snowfall'))

weather_df.Description = weather_df.Description.replace(to_replace=('FogRain'), value=('Rain'))

In [127]:
#weather information ready to be merged into the bike share dataframe
weather_df.to_csv('NewWeatherfile.csv', index=False)

# 2018 data collection

In [132]:
df1 = pd.read_csv('201801_capitalbikeshare_tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [134]:
df2 = pd.read_csv('201802-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [135]:
df3 = pd.read_csv('201803-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [136]:
df4 = pd.read_csv('201804-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [137]:
df5 = pd.read_csv('201805-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [138]:
df6 = pd.read_csv('201806-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [139]:
df7 = pd.read_csv('201807-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [140]:
df8 = pd.read_csv('201808-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [141]:
df9 = pd.read_csv('201809-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [142]:
df10 = pd.read_csv('201810-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [143]:
df11 = pd.read_csv('201811-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [144]:
df12 = pd.read_csv('201812-capitalbikeshare-tripdata.csv',usecols=[0,1,8], date_parser='Start date')

In [168]:
#Monthly bike share information into each dataframe
to_add = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12]

### Concatenating all the dataframes together

In [249]:
#combining all 2018 bike share data into a single data frame
df_2018=pd.concat(to_add, axis=0, ignore_index=True)

C:\Users\anita\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [250]:
#converting date column into datetime format to extract month, hour and data columns
df_2018['Start date']= pd.to_datetime(df_2018['Start date'])

In [251]:
df_2018['date']=df_2018['Start date'].dt.date

df_2018['time'] = df_2018['Start date'].dt.time

df_2018['hour'] =df_2018['Start date'].dt.hour

In [252]:
df_2018.head()

,Duration,Member type,Start date,count,date,hour,total_duration,time
0,552.0,Member,2018-01-01 00:05:06,NaN,2018-01-01,0.0,NaN,00:05:06
1,1282.0,Casual,2018-01-01 00:14:30,NaN,2018-01-01,0.0,NaN,00:14:30
2,1265.0,Casual,2018-01-01 00:14:53,NaN,2018-01-01,0.0,NaN,00:14:53
3,578.0,Casual,2018-01-01 00:15:31,NaN,2018-01-01,0.0,NaN,00:15:31
4,372.0,Member,2018-01-01 00:18:02,NaN,2018-01-01,0.0,NaN,00:18:02

In [253]:
df_2018 = df_2018[['Duration','Member type','date','hour']]

In [254]:
df_2018.head(2)

   Duration Member type        date  hour
0     552.0      Member  2018-01-01   0.0
1    1282.0      Casual  2018-01-01   0.0

In [285]:
#New dataframe of total number of bike uses per day and hour
grouped_df = pd.DataFrame(df_2018.groupby([ "date", "hour",'Member type']).agg({'Duration':'sum',
                                                                 'Duration':'count'
                                                                 })).reset_index()

In [286]:
grouped_df.shape

(14327, 4)

In [288]:
#Converting membertype into binary
member_df = pd.get_dummies(grouped_df['Member type'], drop_first=True)
# member = 1
# casual membership = 0

In [289]:
grouped_df = pd.concat([grouped_df, member_df], axis=1)

In [291]:
grouped_df = grouped_df.drop('Member type', axis=1)

In [292]:
#Dataframe with relevant information about 2018 bikeshare data
grouped_df.to_csv('hour_grouped.csv', index=False)